body {
    margin:0;
    padding:0;
}

canvas {
    margin-bottom: 40px;
}

hr {
    width: 250px;
    margin-top: 40px;
    margin-bottom: 40px;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

h4 {
    margin-top: 34px;
    margin-bottom: 34px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

p {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    line-height: 30px;
    
}

.align-link {
    text-align: center;
    margin-top: 24px;

}

.body-title {
text-align: center;
margin-top: 40px;
margin-bottom: 40px;
}

.grid-padding-left {
    padding-left: 97.5px;
}
.grid-padding-right {
    padding-right: 97.5px;
}

.haste-color {
    margin-bottom: 40px;
}

.haste-fonts {
    padding-top: 24px;
    padding-bottom: 40px;
}

.layout-pref {
    margin-top: 40px;
    margin-bottom: 10px;
}

.link-italic {
    font-family: 'Libre Baskerville', serif;
    font-size: 14px;
    font-style: italic; 
}

.lofi {
    margin: 20px auto 40px auto;
    height: 50%;
}

.hifi {
    margin: 20px auto 40px auto;
    height: 50%; 
}

.home-pref {
    margin-bottom: 10px;
}

.italic {
    margin-bottom: 40px;
}

.img-fluid.persona {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.title-text {
    text-align: center;
    padding-top: 20px;
    font-family: 'Raleway', san-serif;
    font-weight: bold;
    font-size: 32px;
}

.r-medium {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.sub-header {
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
}

.my-navbar {
  background: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}

.navbar-trans {
    background: transparent;
}

.my-navbar .navbar-brand {
  color: white;
}

.my-navbar .navbar-nav li a {
  color: white;
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(255,255,255);
}

.jumbotron {
    background: url("../img/haste-background.jpg") no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -56px;
    
}
.haste-info {
    padding-top: 30px;
}
.img-fluid.haste-logo {
    max-width: 14%;
    max-height: 14%;
}

.checkout {
    margin: auto;
}

.coupon {
    margin: auto;
    margin-bottom: 40px;
}

/*.img-fluid {
    max-width: 14%;
    max-height: 14%;
}
*/  

.img-fluid.design-process {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 8.2px;
    
}


.down-arrow {
    max-width: 5%;
    max-height: 5%;
    padding-top: 20px;
}



.quantity-pref {
    margin: 20px auto 20px auto;
}

/*.ten-layout {
    padding: 88px 195px;
}
*/

@media (max-width: 768px) {

    .haste-info {
        padding-top: 55px;
    }

    .title-text {
        font-size: 28px;
    }

    .sub-header {
        font-size: 16px;
    }

    .col-12{
        text-align: center;
    }

    h4 {
        margin-top: 20px;
        margin-bottom: 20px
    }

    .col-12.grid-padding-left {
        padding-left: 0;
        padding-right: 0;
    }
    .col-12.grid-padding-right {
        padding-right: 0;
        padding-left: 0;
    }

    .margin-edit {
        margin-bottom: 0px;
    }
}

@media (min-width: 769px) {
    .checkout {
      padding-bottom: 40px;  
    }
}


@media (max-width: 1199) and (min-width: 992px) {
    .img-fluid.design-process {
        margin-top: 40px;
        padding-bottom: 80px;
    }
    /*.col-lg-12 {
        padding-left: 97.5px;
        padding-right: 97.5px;
    }
   */
    /*.col-md-6 {
        padding-left: 97.5px;
        padding-right: 97.5px;
    }
    */

}