@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Raleway:400,500,700');

body, html {
  height: 100%;
}

.bg {
  background-image: url("../img/island-small.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: bold;
}

h2 {
  color: white;
  font-family: 'Raleway', sans-serif;
}

.inner-homepage {
  margin: auto;
  margin-top: 350px;
}

.lead {
  padding-top: 5px;
  padding-bottom: 5px;
}

.my-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color:white;
  font-size: 14px;
  font-family: 'Raleway', sans-serif


}
.my-navbar {
  background: rgba(0, 0, 0, 0.5);
}

.my-navbar .navbar-brand {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.my-navbar .navbar-nav li a {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
  border-color: rgb(255,255,255);
}